@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Menyembunyikan scrollbar tapi tetap bisa scroll */
html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
html {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}